<section class="section section-light-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Sign up</h2>
      <h3 class="subtitle is-5 is-muted">Ready to go OR if you need more info, <br>We'd love to hear from you</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form name="contact" method="POST" netlify>
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" type="text" placeholder="Enter your name">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="email" placeholder="Enter your email address">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="text" placeholder="Your organization">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="text" placeholder="Your role">
              </div>
              <div class="column is-12">
                <textarea class="textarea" rows="10" placeholder="We'll reach out to schedule a meeting. Please provide any other specifics that could help us prepare for that. Specfic questions, concerns etc. "></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>