<section class="section section-light-grey is-medium" id="section7">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Join the Collaborative</h2>
      <h3 class="subtitle is-5 is-muted">Ready to go? Need more info? <br>We'd love to hear from you</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form name="contact" method="POST" netlify>
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" type="text" name="Name" required placeholder="Enter your name">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="email" name="Email" required placeholder="Enter your email address">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="text" name="Organization" required placeholder="Your organization">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="text" name="Role" placeholder="Your role">
              </div>
              <div class="column is-12">
                <input class="input is-medium" type="tel" name="Telephone" placeholder="A number to reach you at">
              </div>
              <div class="column is-12">
                <textarea class="textarea" name="message" rows="10" placeholder="What can we help you with? Please provide any information that would be useful and we will follow-up soon to discuss further with you"></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>